@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    font-family: 'Montserrat', sans-serif;
}
.footer{
    background-color: rgba(13, 44, 66, 0.8);
    padding: 10px 50px;
    
}

.desc{
   
    background-color: #343a40;
    padding:20px 50px;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
}

.copyright-links{
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
    padding: 0;
}

.copyright-links li {
    font-size: 10px;
    float: none;
    display: inline-block;
}

.copyright-links li a {
    color: #fff;
}

.iconify{
    font-size: 30px;
    cursor: pointer;
}

