<div class="wrapper">
    <footer>
        <div class="desc">
            <p>This information is copyrighted by Global Estate Inc., 2022, and is provided to the user exclusively for
                the user's personal non-commercial use in the sale or purchase of real estate. All measurements and
                calculations of area are approximate. Information provided by Seller/Other sources, not verified by
                Broker. All Interested Persons should independently verify accuracy of above information. © 2022, Global
                Estate, Inc.

            </p>

            <ul class="copyright-links">
                <li class="copyright-co"><span itemprop="legalName">Haris Zukan</span> | CEO | <span
                        itemprop="branchOf">Global Estate LLC</span> | <span itemprop="telephone">+387 61 532 948</span>
                    <span> | Grbavicka 27 Sarajevo 71000</span></li>
                <li><a class="user-action fancybox iframe" href="/register">| Register</a></li>
                <li><a class="user-action fancybox iframe" href="/login">| Login</a></li>
            </ul>
        </div>



    </footer>
    <footer>
        <div class="footer row m-0">
            <div class="col-lg-8 col-md-7 text-white mt-2">
                <p>Real Estete Webdesign by Haris Zukan</p>
            </div>
            <div class="col-lg-4 col-md-5 text-center">
                <span class="iconify mr-4" data-icon="mdi:facebook"></span>
                <span class="iconify" data-icon="mdi:instagram"></span>
                <img class="ml-4" src="../../assets/real_logo_gray-removebg-preview.png" height="40px" alt="logo">
            </div>
            
        </div>

</footer>
</div>