
*{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
.content h1{
   font-size: 55px;
   color: #333;
   line-height: 58px;
}

.content h2{
    font-size: 30px;
    color: #4a5e66;
}
.about_haris{
    font-size: 20px;
    font-style: italic;
}
.about a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}


