<div class="row mr-auto ml-auto mt-5 mb-5 container about">
    <div class="col-xl-7 col-lg-12 content ">
        <h1>ABOUT HARIS</h1>
        <br>
        <h2>FOUNDER OF THE COMPANY</h2>
        <br>
        <p class="about_haris">Haris Zukan is the founder of Global Estate, a positioning and branching Real Estate firm that allows for sellers, buyers and investors to explore new listings and all things real estate! Before devoting his work fulltime to Global Estate, Haris served as Chief Marketing Officer for Realtor LLC. Haris has obtained a Bachelor's degree in Business Management from the University of Sarajevo as well as a Masters degree in Marketing. 
        </p>
        <br>
        <p class="about_haris">As a Sarajevo native and seasoned real estate professional, Haris recognizes and values 
          the trust clients place in him and strives to always exceed their expectations. Such disciplines have instilled in Haris what is necessary for a successful real estate empire. Haris has maintained a strong ranking in the top 1% of all  property transactions within Bosnia and Herzegovina.
          </p>
          <br>
         
          <p class="about_haris">- Global Estate Team</p>
          <br>
    </div>
    <div class="col-xl-5 col-lg-12 d-flex flex-column ">
          <img  src="../../assets/profile-small.jpg" alt="profile" class="profile">
          <div class="d-flex font text-center flex-column justify-content-center mt-5">
            <h3>Haris Zukan</h3>
             <a href="tel:+38761532948">Direct: +38761532948</a>
             <a href="mailto:harezukan@hotmail.com">Email: harezukan@hotmail.com</a>
             <p>Address: Grbavicka 27, Sarajevo</p>
            
            
         </div>
    </div>
  </div>