
h1,h2{
    font-family: 'Oswald', sans-serif;
}
.bg_title{
    background-color: #748a93;
}

h1{  
    font-size: 35px;
    padding: 20px;
    color: #fff;
    

}

.background{
    height:auto;
  padding-bottom: 10px;
}

.wrapper{
    
    padding: 70px;
    background: hsla(0,0%,0%,0.40);
    color: #fff;
   border-radius: 15px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.btn-add{
    border: none;
   background-color:#5b727a;
   color: #fff;
   padding: 10px 20px;
   margin-top: 10px;
   border-radius: 10px;
}

.btn-add:hover{
    opacity: .8;
    cursor: pointer;
}


@media(max-width:1199px){
    .wrapper{
        padding: 70px 0;
    }
}