

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.living-room{
    width: 100%;
    height: auto;
}


.padding-t-b-30 {
    padding: 30px 0;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titles.large {
    text-align: center;
    border-bottom: none;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

.titles.large {
    text-align: center;
    border-bottom: none;
    text-transform: uppercase;
}

.titles.large {
    text-align: center;
    border-bottom: none;
    text-transform: uppercase;
}




#listings4 .listings.wrapper {
    max-width: 1000px;
   
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1260px;
}



#listings4 .listings .listing {
    -webkit-box-shadow: 1px 1px 20px rgb(0 0 0 / 30%);
    box-shadow: 1px 1px 20px rgb(0 0 0 / 30%);
    margin-bottom: 50px;
}


.popularListing{
   background-color:#eaeaea ; 
   padding: 50px;
}
@media(max-width:575px){
    .popularListing{
        padding: 50px 0;
    }
}