<div class="home-page">
<img class="living-room" src="../../assets/living-room.jpg" alt="living room">

</div>

<article id="communities5">
    <section class="communities-cont padding-t-b-30">
        <div class="container-fluid">
            <h2 class="titles large">Featured Cities</h2>
          
            <div class="row" >
                   <app-city-card class="col-xl-4 col-lg-6 col-md-6" *ngFor=" let city of cities" [city]="city"></app-city-card> 
            </div>
        
        </div>
    </section>
</article>



<div class="popularListing">
    <h2 class="titles large">TOP 4 RATED LISTINGS</h2>
    <app-most-popular-listing *ngFor="let product of products" [product]="product"></app-most-popular-listing>

</div>

<app-about-home></app-about-home>







