<section>
    <div id="about1 ">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xl-5 col-lg-12 about-us-image p-0">
                    <img src="../../assets/profile.jpg" alt="Haris Zukan" class="img-responsive">
                </div>
                <div class="col-xl-7 col-lg-12 about-us-text d-flex flex-column p-5">
                    <div class="d-flex justify-content-center logo_img"><img class="new-logo-about-hp "
                            src="../../assets/real_logo_gray-removebg-preview.png"></div>

                    <div class="about-global-estate d-flex flex-column w-100">
                        <p>"Global Estate is built on communication, dedication, and transparency. This recipe has
                            helped me rise to the top 5% of commercial real estate agents nationwide by sales volume.
                            With my sharp knowledge of the local market, I've helped over 500 families in this area find
                            their dream home — and I'm confident I can help you find yours too."</p>
                        <br>
                        <p>- Haris Zukan</p>
                    </div>

                    <div class="btn-about">
                        <a href="/about/">
                            <button class="btn">Read More</button>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>